注册情况补充
<hr class="haha-hr-compact"/>
<div class="row">
  <div class="col-md-3">
    <div class='form-group'>
      <label class='control-label' for="actual_owner"><%= display_name["actual_owner"] %></label>
      <input type='text' class='form-control input-sm' name='actual_owner'/>
    </div>
  </div>
  <div class="col-md-3">
    <div class='form-group'>
      <label class='control-label' for="actual_owner_phone"><%= display_name["actual_owner_phone"] %></label>
      <input type='text' class='form-control input-sm' name='actual_owner_phone'/>
    </div>
  </div>
  <div class="col-md-6">
    <div class='form-group'>
      <label class='control-label' for="actual_owner_addr"><%= display_name["actual_owner_addr"] %></label>
      <input type='text' class='form-control input-sm' name='actual_owner_addr'/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class='form-group'>
      <label class='control-label' for="national_tax_id"><%= display_name["national_tax_id"] %></label>
      <input type='text' class='form-control input-sm' name='national_tax_id'/>
    </div>
  </div>
  <div class="col-md-3">
    <div class='form-group'>
      <label class='control-label' for="local_tax_id"><%= display_name["local_tax_id"] %></label>
      <input type='text' class='form-control input-sm' name='local_tax_id'/>
    </div>
  </div>
  <div class="col-md-6">
    <div class='form-group'>
      <label class='control-label' for="legal_person_addr"><%= display_name["legal_person_addr"] %></label>
      <input type='text' class='form-control input-sm' name='legal_person_addr'/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class='form-group'>
      <label class='control-label' for="last_year_inspected"><%= display_name["last_year_inspected"] %></label>
      <select name="last_year_inspected" id="last_year_inspected" class="form-control input-sm">
        <option value="true">是</option>
        <option value="false">否</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class='form-group'>
      <label class='control-label' for="licence"><%= display_name["licence"] %></label>
      <input type='text' class='form-control input-sm' name='licence'/>
    </div>
  </div>
  <div class="col-md-6">
    <div class='form-group'>
      <label class='control-label' for="bank_card"><%= display_name["bank_card"] %></label>
      <input type='text' class='form-control input-sm' name='bank_card'/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class='form-group'>
      <label class='control-label' for="require_certs"><%= display_name["require_certs"] %></label>
      <input type='text' class='form-control input-sm' name='require_certs'/>
    </div>
  </div>
  <div class="col-md-6">
    <div class='form-group'>
      <label class='control-label' for="has_certs"><%= display_name["has_certs"] %></label>
      <input type='text' class='form-control input-sm' name='has_certs'/>
    </div>
  </div>
</div>
<div class='form-group'>
  <label class='control-label' for="registration_others"><%= display_name["registration_others"] %></label>
  <textarea class='form-control' name='registration_others' rows="3"></textarea>
</div>
<br/>
